---
layout: default
title: Mr Ghort The Blog
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
    {% assign content = post.content %}
      <article>
        {% include article.html %}
      </article>
  {% endfor %}

  <div class="pagination">
    <a href="biglist.html">Big List</a>

    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Older</a>
    {% endif %}
  </div>
</div>
